nav{
    background-color: black;
    color: #f0f8ff;
    height: min-content;
    padding: 1%;
   
}

body{
    margin: 0px;
    background-color: rgb(37, 34, 56);
}
main{
   
}

img.logo{
    width: 7%;
    height: 7%;
    margin: 0.5%;
}
body{
    
}
